.contactList {
  list-style: none;
  padding: 0;
}

.contactList li {
  display: flex;
  justify-content: flex-start;
}
.contactCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.deleteButton {
  padding: 5px 10px;
  border: none;
  background-color: #ff4d4d;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.deleteButton:hover {
  background-color: #ff1a1a;
}
